body {
  direction: __MSG_@@bidi_dir__;
}

.visit .visits {
  display: none;
}
.visit.expanded .hide_visits {
  display: block;
}
.visit.expanded .show_visits {
  display: none;
}
.visit .hide_visits {
  display: none;
}
.visit .show_visits {
  display: block;
}

.search_view .visit .time {
  display: block;
}
.number_of_results .max_results {
  display: none;
}
.number_of_results.maxed_results .max_results {
  display: inline;
}

.week_view .days .title {
  margin:0 0 3px;
}
.week_view .days * {
  color: #303942;
}
.week_view .days .day {
  margin-bottom:20px;
  position: relative;
  background-color:#EEE;
  border-radius: 5px;
  padding: 10px;
}
.week_view .day.future {
  opacity: 0.6;
}
.week_view .day:hover .bar {
  background-color:#888;
}
.week_view .day_view .page {
  width: 766px;
}
.week_view .bar {
  background: #CCC;
  height: 100%;
  min-width:1%;
  position: absolute;
  right: 0;
  -webkit-transition:width 0.2s;
  border-radius: 5px;
}
.week_view .bar_container {
  float: right;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.visit .description {
  background-repeat:no-repeat;
  background-position:__MSG_@@bidi_start_edge__ 0;
  padding:0 25px;
}
.visit:hover > a > .link > .delete_layer {
  -webkit-transition-delay: 100ms;
  __MSG_@@bidi_end_edge__: -9px;
  background: #F0F6FE;
}

.delete_layer {
  position:absolute;
  __MSG_@@bidi_end_edge__:-9px;
  top:0;
  padding:10px;
  -webkit-transition: __MSG_@@bidi_end_edge__ 200ms, opacity 200ms;
}
.interval > .title {
  margin:0;
  padding:10px 3px;
  padding-__MSG_@@bidi_start_edge:0;
  font-size: 13px;
  position:relative;
  color: #000;
}
.interval. .visits { display:none; }
.interval .summary {
  color:#999;
  margin-__MSG_@@bidi_start_edge__:5px;
  font-size:12px;
}
.interval .visits { margin-bottom:10px; }
.interval:hover .title .delete_layer {
  __MSG_@@bidi_end_edge__:-5px;
  -webkit-transition-delay: 300ms;
}

.version_view .page {
  width:500px;
}
.prompt_view .spinner {
  top: 74px;
  left: 349px;
  position:absolute;
}
.version_view .page,
.credits_view .page {
  overflow: hidden;
}
