.collapse {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #999;
  -webkit-margin-end: 4px;
  top: 1px;
}
.expand {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #999;
  -webkit-margin-end: 4px;
}
.arrow {
  width: 0;
  height: 0;
  position: relative;
  display: inline-block;
}
.visit.expanded .visits {
  max-height: 5000px;
  height: auto;
}
.visits .visits {
  height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
}
.visit.expanded .hide_visits {
  display: block;
}
.visit.expanded .show_visits {
  display: none;
}
.visit .hide_visits {
  display: none;
}
.visit .show_visits {
  display: block;
}
.week_view .days .title {
  margin:0 0 3px;
}
.week_view .days * {
  color: #303942;
}
.week_view .days .day {
  margin-bottom: 15px;
  position: relative;
  background-color:#EEE;
  border-radius: 5px;
  height: 50px;
}
.week_view .day.future {
  opacity: 0.6;
}
.week_view .day:hover .bar {
  background-color:#CCC;
}
.week_view .day_view .page {
  width: 766px;
}
.week_view .bar {
  background: #DDD;
  height: 100%;
  min-width:1%;
  position: absolute;
  -webkit-transition:width 0.2s;
  border-radius: 5px;
}
.week_view .bar_container {
  width: 100%;
  height: 100%;
}
.week_view .label {
  position: absolute;
  top: 10px;
  z-index: 1;
}

.week_view .spinner,
.search_view .spinner {
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
  -webkit-transition: opacity .1s ease-in;
}
.week_view .count,
.search_view .count {
  opacity: 0;
  -webkit-transition: opacity .1s ease-in;
}
.week_view.loaded .count,
.search_view.loaded .count {
  opacity: 1;
}
.loaded .spinner {
  opacity: 0;
}

.visit .description {
  background-repeat: no-repeat;
  padding: 0;
}
.visit dl dt {
  font-size: 100%
}
.visit .location a {
  display: inline;
  color: #999;
  padding-right: 0;
}
.visit .location > .search_domain {
  background: #EEE;
  color: #888;
  padding: 1px 2px;
  border-radius: 3px;
  -webkit-margin-end: 2px;
  display: inline-block;
}
.visit .location {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.visit .location > .search_domain:hover {
  color: #15C;
}
.version_view .page {
  width:500px;
}

.credits_view .translators {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
.credits_view .translators li {
  padding:3px 0;
}
.credits_view .translators:first-child {
  -webkit-margin-end: 40px;
}
.credits_view .translators .language {
  display: inline-block;
}
.credits_view .content-area h3 {
  margin-top: 30px;
}
.credits_view .open_source li {
  display: inline;
  -webkit-margin-end: 10px;
}
.version_view .logo,
.credits_view .logo {
  position: absolute;
  opacity: 0.4;
  top: -50px;
}
.prompt_view .action-area {
  z-index: 1;
  position: relative;
}
.prompt_view.loading button {
  opacity: 0;
}
.prompt_view.loading .spinner {
  opacity: 1;
}
.prompt_view .spinner {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  z-index: 0;
}

.prompt_view button {
  -webkit-transition: opacity .2s ease-in;
}
.prompt_view .spinner {
  -webkit-transition: opacity .2s ease-in .2s;
}

body {
  direction: __MSG_@@bidi_dir__;
}
header .corner {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 0px;
}
.week_view .label {
  __MSG_@@bidi_start_edge__: 10px;
}
.week_view .bar {
  __MSG_@@bidi_start_edge__: 0;
}
.highlightable li .action {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 32px;
}
.highlightable.editable .delete {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 5px;
}
.view .description {
  background-position:__MSG_@@bidi_start_edge__ 0;
  padding-__MSG_@@bidi_start_edge__: 25px;
}
.version_view .logo,
.credits_view .logo {
  __MSG_@@bidi_end_edge__: -50px;
}
.credits_view .translators .language {
  text-align: __MSG_@@bidi_end_edge__;
  float: __MSG_@@bidi_end_edge__;
}
.visit .location {
  background-image: -webkit-gradient(linear, __MSG_@@bidi_start_edge__ top, __MSG_@@bidi_end_edge__ top, color-stop(82%, #777), to(white));
}
.week_view .spinner,
.search_view .spinner {
  __MSG_@@bidi_start_edge__: 4px;
}
