.date, .visit_count {
  font-size:15px;
  margin-__MSG_@@bidi_start_edge__:10px;
  color:#53637D;
}
.spinner {
  top:90px;
  left:60px;
  position:absolute;
}
.visit_count {
  margin-left:15px;
  display:none;
}
.toggle_time_divisions {
  position:absolute;
  top:10px;
  right:20pc;
}
.day_view .overlay .page .content-area {
  width: 750px;
  overflow-x:hidden;
  padding: 0px;
}
.day_view .content {
  margin-top: 104px;
  padding:0 17px 0;
}
.day_view .heading {
  position: absolute;
  top:0;
  width: 100%;
  padding:20px 17px 0;
  -webkit-box-sizing: border-box;
}
.day_view .page {
  height: 100%;
}
.day_view .delete_all {
  float: right;
}
.day_view .heading input {
  margin-right: 30px;
}
.day_view .controls input {
  float:left;
}

