.date, .visit_count {
  font-size:15px;
  margin-left:10px;
  color:#53637D;
}
.spinner {
  top:90px;
  left:60px;
  position:absolute;
}
.visit_count {
  margin-left:15px;
  display:none;
}
.toggle_time_divisions {
  position:absolute;
  top:10px;
  right:20pc;
}
.filter_view .controls {
  display:inline-block;
  margin:0;
  padding:0;
  position:absolute;
  right:260px;
  top:10px;
}
.filter_view .controls .control {
  display:inline;
}
.filter_view .controls .control:last-child {
  margin-left:20px;
}
.filter_view .heading .delete_all {
  padding: 3px 0px 3px 25px;
  z-index:14;
}
.filter_view .button:hover .delete_icon .delete,
.filter_view .button:hover .delete_icon .delete:before {
  background:#555;
}
.filter_view .heading .delete_icon {
  margin-left:10px;
}
.filter_view .heading .delete_icon::before {
  margin-top: 3px;
  left: -14px;
}
.filter_view .heading .delete_icon .delete::before {
  margin-top: 0px;
  left: -21px;
}
.filter_view .heading .delete_icon .delete::after {
  margin-top: 7px;
  left: -18px;
}
