.date, .visit_count {
  font-size:15px;
  margin-__MSG_@@bidi_start_edge__:10px;
  color:#53637D;
}
.spinner {
  top:90px;
  left:60px;
  position:absolute;
}
.visit_count {
  margin-left:15px;
  display:none;
}
.toggle_time_divisions {
  position:absolute;
  top:10px;
  right:20pc;
}
.filter_view .heading h2 .date {
  display: none;
}
