.delete_icon {
  background-image:url(/images/delete_icon.png);
  background-repeat:no-repeat;
  background-position:__MSG_@@bidi_start_edge__ 0;
}
.delete_icon:hover {
  background-position-y: -16px;
}
.settings_icon {
  background-image:url(/images/settings_icon.png);
  background-repeat:no-repeat;
  background-position:__MSG_@@bidi_start_edge__ 0;
}
.settings_icon:hover {
  background-position-y: -16px;
}
