.delete_icon .delete:before {
  width:16px;
  height:16px;
  /* css3 */
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  border-radius:16px;
}

.delete_icon .delete:after {
  left:3px;
  width:10px;
  height:2px;
  margin-top:-1px;
  background:#fff;
  /* css3 */
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

span.delete_icon:before {
  z-index:10;
  left:7px;
  width:2px;
  height:10px;
  margin-top:-5px;
  background:#FFF;
  /* css3 */
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
.delete_icon {
  position:relative;
  z-index:1;
  overflow:hidden;
  list-style:none;
  padding:0;
  margin:0 0 0.25em;
}
.delete:before,
.delete:after,
.delete_icon:before,
.delete_icon:after {
  content:"";
  position:absolute;
  top:50%;
  left:0;
}

.delete:before,
.delete:after {
  margin:-8px 0 0;
  background:#999;
}
.delete {
  position:absolute;
  display:block;
  border:0;
  padding-left:28px;
}
.delete_icon:hover .delete,
.delete_icon:hover .delete:before { background:#555; }


.settings_icon {
    position:relative;
    z-index:1;
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0 0 0.25em;
    display:inline-block;
}
.settings_icon .settings {
  width:auto;
}
.settings_icon:before,
.settings_icon:after,
.settings_icon .settings:before,
.settings_icon .settings:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
}
.settings_icon .settings:before,
.settings_icon .settings:after {
    margin:-8px 0 0;
    background:#666;
}
.settings_icon:after {
    left:13px;
    width:3px;
    height:5px;
    margin-top:-8px;
    background:#fff;
    /* css3 */
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.selected .settings_icon:after {
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
}
.selectable:hover .settings_icon:after {
  background:rgba(216, 225, 238, 1);
}

.settings_icon .settings:before {
    left:6px;
    width:4px;
    height:15px;
    margin-top:-7px;
    background:#666;
    /* css3 */
    -webkit-transform:rotate(45deg);
s
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.settings_icon .settings:after {
    left:8px;
    width:9px;
    height:9px;
    background:#666;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.settings_icon .settings:hover:before,
.settings_icon .settings:hover:after,
.settings_icon .settings:focus:after,
.settings_icon .settings:active:after {
    background:#222;
}
