body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  font-size:13px;
}
a {
  color:#426DC9;
}
dl { margin:0; }
dt, dd { margin:0; }
.hide { display:none; }
.heading {
  background:#FFF;
  position:fixed;
  width:100%;
  z-index:11;
  margin:0 0 0 24px;
}
.groupedVisits {
  margin:5px 0 10px;
}
.bac.page_visit {
  border-top:1px solid #DDD;
  border-left:1px solid #EEE;
  border-radius:2px;
  position:relative;
  top:2px;
  left:2px;
  height:50px;
  z-index:1;
}
.primary {
  padding:0 10px;
}
.spinner {
  top:80px;
  left:80px;
  position:relative;
}
.clear_history {
  float:right;
  margin:30px 24px 12px;
}
.no_visits {
  color:#AAA;
  padding:24px;
  font-size:20px;
}
/* Headings
================================= */
h1 {
  color: #53637D;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 13px 24px 13px 0;
  font-size:200%;
  text-align: end;
  text-shadow: white 0 1px 2px;
}
h2 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  border-bottom: 1px solid #eeeeee;
  color: #53637d;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 13px;
  text-shadow: white 0 1px 2px;
}
.time_interval {
  z-index:10;
  margin:0 0 0 24px;
  padding:10px;
  color:#444;
  position:relative;
}

/* Navigation
================================ */
.navbar {
  -webkit-border-end: 1px solid #c6c9ce;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #eaeef3),
              -webkit-linear-gradient(left, #eaeef3, #eaeef3 97%, #d3d7db);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 216px;
  z-index: 2;
  display:none;
  overflow:hidden;
}
.navbar .logo {
  opacity:0.1;
  position:absolute;
  bottom:-20px;
  left:10px;
  z-index:-1;
}
.nav {
  -webkit-user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear:both;
}
.nav .item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #426dc9;
  cursor: pointer;
  display: block;
  font-size: 105%;
  outline: none;
  padding: 7px 0;
  text-align: end;
  text-shadow: white 0 1px 1px;
  -webkit-padding-end: 24px;
}
.nav .item:focus {
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
}
.nav .item:hover {
  background:#d8e1ee;
}
.nav .search_item:hover {
  background:none;
  cursor: default;
}
.nav .item.selected {
  -webkit-box-shadow: 0px 1px 0px #f7f7f7;
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
  text-shadow: #bbcee9 0 1px 1px;
}
.nav .item.selected a {
  color:#000;
}
.nav .item a {
  text-decoration:none;
}

/* Containers
================================== */
.mainview {
  -webkit-box-align: stretch;
  -webkit-padding-start: 216px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.view {
  box-sizing: border-box;
  padding: 0;
}
.content {
  padding:47px 0 100px;
  min-height:300px;
  overflow:hidden;
}
.fade {
  background: -webkit-linear-gradient(left, #FFF, rgba(255, 255, 255, 0));
  position:absolute;
  width:25px;
  height:100%;
  z-index:10;
}
section {
  border-bottom:1px solid #DDD;
  overflow:hidden;
}


/* Pages
================================== */
.page_visit {
  position:relative;
  z-index:0;
  text-decoration:none;
  display:block;
  margin:8px 3px 0 40px;
}
.page_visit .link {
  padding: 5px 10px 5px 5px;
}
.page_visit:hover .link,
.ui-draggable-dragging .link {
  background: #eaeef3;
  box-shadow:0 0 5px #999;
  border-radius: 3px;
}
.handle .line {
  box-shadow:0 0 5px #BBB;
  border-left:1px solid #BBB;
  padding-right:1px;
  display:block;
  float:left;
  height:100%;
}
.page_visit:hover .handle {
  display:block;
  position:absolute;
  background:#DDD;
  left:-12px;
  top:-1px;
  width:14px;
  height:50px;
  cursor:move;
}
.no_hover .page_visit:hover {
  background:#FFF;
}
.page_visit:hover .title, .page_visit:hover .url {
  text-shadow:1px 1px #FFF;
}
.page_visit:hover .url {
  color:#555;
}
.title {
  font-size:105%;
  padding-bottom:3px;
}
.url {
  color: #999;
  padding:2px 0 2px;
}
.title, .url {
  overflow:hidden;
  white-space: nowrap;
}
.description {
  background-repeat:no-repeat;
  background-position:5px 0;
  padding-left:30px;
}
.expanded {
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  padding:0 0 5px 0;
  margin:0 0 5px 24px;
  display:none;
}

/* Date Visit View
================================= */
.date_visit_view {
  position:relative;
  width:100%;
}
.date_interval {
  z-index:10;
  box-shadow: 4px 2px 9px -1px rgba(0,0,0,.4);
  position:static;
  width:auto;
  padding:10px 0 8px 80px;
  margin:0 0 0 24px;
  width:100%;
  background:#FFF;
  display:block;
}
.time_interval,
.date_interval {
  line-height:22px;
}

/* Delete View
================================ */
.delete_view {
  border:4px #CCC dashed;
  border-radius:15px;
  margin:60px 24px 20px;
  padding:10px;
  text-align:right;
  width:70px;
  float:right;
  height:56px;
}
.delete_view .action { display:none; }
.delete_view p {
  color:#999;
}
.delete_view.over {
  box-shadow:inset 1px 1px 20px #AAA;
}
.delete_view.over p { color:#666; }
.delete_view.over .instructions { display:none; }
.delete_view.over .action { display:block; }

