body {
  direction: __MSG_@@bidi_dir__;
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
  color: #303942;
}

/* Reset
================================= */
a {
  color: #15C;
  text-decoration: underline;
}
li { list-style-type:none; }
dl { margin:0; }
dt, dd { margin:0; }
button { cursor: pointer; }

/* Headings
================================= */
h1 {
  -webkit-margin-after: 1em;
  -webkit-margin-before: 20px;
  -webkit-margin-start: 23px;
  color: #5C6166;
  font-size: 18px;
  font-weight: normal;
}
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  display:inline-block;
  height:32px;
}

/* Randoms
================================== */
.hide { display:none; }
.ordinal { vertical-align:super; }
.search_view .ordinal,
.filter_view .ordinal { font-size:16px; }
.heading {
  background:#FFF;
  position:fixed;
  top: 0;
  z-index:11;
  padding:20px 0 0;
}
.heading,
.filter_view .content,
.search_view .content,
.settings_view .content {
  width:738px;
}
a.modal_link {
  padding: 1px 3px;
}
.filter_view .content,
.search_view .content,
.settings_view .content {
  padding:104px 0 100px;
  position:relative;
  min-height:300px;
  overflow:hidden;
}
.primary {
  padding:0 10px;
}
.no_visits {
  color:#AAA;
  font-size:20px;
}
.stuck {
  border:none;
  z-index:10;
  box-shadow: 0px 4px 6px -3px rgba(0,0,0,.3);
  width:auto;
  margin:0;
  width: 738px;
  background:#FFF;
  display:block;
}



.heading input.search[type=search] {
  float: __MSG_@@bidi_end_edge__;
  font-size: 75%;
  width: 180px;
}
.heading .controls {
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
  margin:0;
  padding:13px 3px;
  font-size: 75%;
  height: 24px;
  __MSG_@@bidi_end_edge__:260px;
}
.heading .controls button {
  display: inline-block;
}
.heading .controls button:focus {
  outline:none;
}
.heading .controls button:focus {
  background:#DDD;
}
.heading .controls button.delete_all {
  float: __MSG_@@bidi_end_edge__;
}
.heading .delete_all {
  padding: 3px 0 3px;
  padding-__MSG_@@bidi_start_edge__: 5px;
  padding-__MSG_@@bidi_end_edge__: 10px;
  z-index:14;
}
.heading .delete_icon {
  display: inline-block;
  padding-__MSG_@@bidi_start_edge__: 20px;
}


/* Overlays */

#overlay {
  z-index: 5;
}

#overlay .page:not(.showing) {
  display: none;
}
#overlay h1 {
  font-size: 14px;
}
#overlay {
  font-size: 12px;
}
.version_view .page {
  width:500px;
}
#overlay li {
  list-style-type: disc;
  padding-bottom:5px;
}
.prompt_view .spinner {
  top: 74px;
  left: 349px;
  position:absolute;
}
#BB_BuyButtonForm {
  float: left;
  width: 200px;
  margin-left: 20px;
}
