.page_visit_view a {
  position:relative;
  z-index:0;
  text-decoration:none;
  display:block;
  position:relative;
  margin:5px 3px 0 0;
  font-size: 12px
}
.page_visit_view .link {
  padding: 5px;
}
.page_visit_view .time { display:none; }
.page_visit_view .title {
  font-size:105%;
  padding-bottom:3px;
}
.page_visit_view .location,
.page_visit_view .time {
  color: #999;
  overflow:hidden;
  white-space: nowrap;
  font-size: 11px;
}
.page_visit_view .time { margin-top:2px; }
.page_visit_view .description {
  background-repeat:no-repeat;
  background-position:__MSG_@@bidi_start_edge__ 0;
  padding-__MSG_@@bidi_start_edge__:25px;
}
.page_visit_view .match {
  background:#f2f37b;
  display:inline-block;
  padding:1 2px;
  margin:0 1px;
}

.page_visit_view:hover > a > .link,
.page_visit_view a:focus > .link {
  background: #EEE;
}
.page_visit_view > a:focus {
  outline:none;
}
.page_visit_view:hover > a > .link > .description > .title,
.page_visit_view > a:focus > .link > .description > .title,
.page_visit_view:hover > a > .link > .description > .location,
.page_visit_view > a:focus > .link > .description > .location {
  text-shadow:1px 1px #FFF;
}
.page_visit_view:hover > a > .link > .description > .location,
.page_visit_view > a:focus > .link > .description > .location,
.page_visit_view:hover > a > .link > .description > .time,
.page_visit_view > a:focus > .link > .description > .time {
  color:#555;
}
.page_visit_view > a > .link > .delete_layer {
  position:absolute;
  __MSG_@@bidi_end_edge__:-200px;
  top:0;
  padding:10px;
  -webkit-transition: __MSG_@@bidi_end_edge__ 200ms, opacity 200ms;
}
.page_visit_view:hover > a > .link > .delete_layer {
  -webkit-transition-delay: 300ms;
  __MSG_@@bidi_end_edge__: -9px;
  background: #EEE;
}
