.page_visit_view a {
  position:relative;
  z-index:0;
  text-decoration:none;
  display:block;
  position:relative;
  margin:5px 3px 0 0;
  margin-__MSG_@@bidi_start_edge__:30px;
  font-size: 12px
}
.page_visit_view .delete_icon {
  display:none;
}
.page_visit_view .link {
  padding: 5px;
}
.page_visit_view .time { display:none; }
.page_visit_view .title {
  font-size:105%;
  padding-bottom:3px;
}
.page_visit_view .location,
.page_visit_view .time {
  color: #999;
  padding:1px 0;
  overflow:hidden;
  white-space: nowrap;
}
.page_visit_view .time { margin-top:2px; }
.page_visit_view .description {
  background-repeat:no-repeat;
  background-position:__MSG_@@bidi_start_edge__ 0;
  padding-__MSG_@@bidi_start_edge__:25px;
}
.page_visit_view .match {
  background:#f2f37b;
  border-radius:2px;
  display:inline-block;
  padding:1 2px;
  margin:0 1px;
}

.page_visit_view:hover > a > .link,
.page_visit_view a:focus > .link {
  background: #EEE;
  border-radius: 3px;
}
.page_visit_view > a:focus {
  outline:none;
}
.page_visit_view:hover > a > .link > .description > .title,
.page_visit_view > a:focus > .link > .description > .title,
.page_visit_view:hover > a > .link > .description > .location,
.page_visit_view > a:focus > .link > .description > .location {
  text-shadow:1px 1px #FFF;
}
.page_visit_view:hover > a > .link > .description > .location,
.page_visit_view > a:focus > .link > .description > .location,
.page_visit_view:hover > a > .link > .description > .time,
.page_visit_view > a:focus > .link > .description > .time {
  color:#555;
}
.page_visit_view:hover > a > .link > .delete_icon {
  display:block;
  position:absolute;
  width:16px;
  height:16px;
  bottom:5px;
}
