.settings {
  width: 100%;
  padding-__MSG_@@bidi_start_edge__:24px;
  font-size: 12px;
}
.settings_view .heading {
  border-bottom: 1px solid #EEE;
}
.settings_view .content {
  padding-top: 60px;
}

.setting {
  margin-bottom: 24px;
  margin-top: 8px;
  max-width: 600px;
}
/* Setting the padding on the header so the alignment doesn't depend on the
 * contents of the right table column.  */
.settings > .setting > .title {
  -webkit-margin-start: -23px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight:normal;
}

.settings .option {
  margin:10px 0;
}
.settings .note {
  padding-top:5px;
}
.settings label {
  display:block;
  padding-top:5px;
}
.settings .controls label:first-child {
  padding-top:0;
}
.settings span.select {
  display:inline-block;
  width:175px;
}
