.settings {
  width: 100%;
  padding-__MSG_@@bidi_start_edge__:24px;
}

.settings .credits {
  margin-top:20px;
  display:inline-block;
}

/* right table column containing settable options */
.settings > .setting > .title + div {
  padding: 20px 0;
}

/* Setting the padding on the header so the alignment doesn't depend on the
 * contents of the right table column.  */
.settings > .setting > .title {
  padding-top: 17px;
  font-weight:normal;
}

.settings > .setting > * {
  display: table-cell;
  vertical-align: baseline;
}

.settings .option {
  margin:10px 0;
}
.settings .setting {
  width:80%;
  border-bottom: 1px solid #eeeeee;
}

.settings .title {
  font-size: 105%;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.settings .setting > .title {
  margin: 0;
  width: 190px;
  -webkit-padding-end: 10px;
}
.settings .note {
  padding-top:5px;
}
.settings label {
  display:block;
  padding-top:10px;
}
.settings .controls label:first-child {
  padding-top:0;
}
.settings span.select {
  display:inline-block;
  width:175px;
}
