
.sidebar_view {
  list-style-type: none;
  clear:both;
}
.sidebar_view .filters {
  padding:0;
  margin:5px 0;
}
.sidebar_view .date {
  font-size: 11px;
  float: right;
  margin-right: 20px;
}
.sidebar_view .selectable a {
  -webkit-border-start: 6px solid transparent;
  -webkit-padding-start: 18px;
  color: #666;
  cursor: pointer;
  line-height: 17px;
  margin: 5px 0;
  display: block;
  text-decoration: none;
  font-size: 75%;
}
.sidebar_view .filter_item_view:nth-child(2) {
  margin-bottom: 10px;
}
.sidebar_view .filter_item_view:nth-child(7) {
  margin-bottom: 20px;
}
.sidebar_view .selectable .ordinal {
  font-size:11px;
}
.sidebar_view .date {
  display:none;
}
.sidebar_view .selectable:focus a,
.sidebar_view .selectable.selected a {
  -webkit-border-start-color: rgb(78, 87, 100);
  color: #333;
}
.sidebar_view .selectable:hover a,
.sidebar_view .selectable a:focus {
  color: #333;
  opacity:1;
}
.sidebar_view .selectable.selected a,
.sidebar_view .selectable.selected a.empty {
  -webkit-border-start-color: rgb(78, 87, 100);
  color: #333;
  font-weight: bold;
  opacity:1;
}
.sidebar_view .selectable a.empty {
  color: #BBB;
}
.sidebar_view .settings_wrapper {
  margin-top:30px;
}
