
.sidebar_view {
  list-style-type: none;
  clear:both;
  text-align:__MSG_@@bidi_end_edge__;
}
.sidebar_view .search {
  margin-__MSG_@@bidi_end_edge__: 24px;
  width:154px;
}
.sidebar_view .filters {
  padding:0;
  margin:5px 0;
}
.sidebar_view .selectable a {
  padding:7px 24px;
  font-size:14px;
  padding-right:24px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #426dc9;
  display: block;
  text-shadow: white 0 1px 1px;
  text-decoration:none;
}
.sidebar_view .selectable .ordinal { font-size:11px; }
.sidebar_view .selectable:focus a,
.sidebar_view .selectable.selected a {
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
}
.sidebar_view .selectable:hover a,
.sidebar_view .selectable a:focus {
  background:rgba(216, 225, 238, 1);
  opacity:1;
}
.sidebar_view .selectable.selected a,
.sidebar_view .selectable.selected a.empty {
  -webkit-box-shadow: 0px 1px 0px #f7f7f7;
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
  text-shadow: #bbcee9 0 1px 1px;
  color:#000;
  opacity:1;
}
.sidebar_view .selectable a.empty { color:#777; }
.sidebar_view .settings_link {
  margin-top:30px;
}
.sidebar_view .settings_icon {
  padding-__MSG_@@bidi_start_edge__:20px;
}
