.sidebar_view {
  list-style-type: none;
  clear:both;
}
.sidebar_view .filters {
  padding:0;
  margin:5px 0;
}
.sidebar_view .date {
  font-size: 11px;
  float: right;
  margin-right: 20px;
}
.sidebar_view a,
.sidebar_view .break {
  -webkit-border-start: 6px solid transparent;
  color: #999;
  -webkit-padding-start: 18px;
  cursor: pointer;
  line-height: 17px;
  margin: 5px 0;
  display: block;
  text-decoration: none;
}

.sidebar_view .this_week li:nth-child(2) {
  margin-bottom: 15px;
}
.sidebar_view .selectable .ordinal {
  font-size:11px;
}
.sidebar_view .date {
  display:none;
}
.sidebar_view a:hover,
.sidebar_view a:focus {
  color: #333;
  opacity:1;
  outline: none;
  -webkit-border-start-color: #AAA;
}
.sidebar_view a.selected,
.sidebar_view a.selected.empty {
  -webkit-border-start-color: rgb(78, 87, 100);
  color: #333;
  font-weight: bold;
  opacity:1;
}
.sidebar_view a.empty {
  color: #BBB;
}
.sidebar_view a.setting {
  margin-top:30px;
}
.sidebar_view .break {
  border-bottom: 1px solid #EEE;
  width: 110px;
  margin-top: 20px;
  margin-left: 0;
  color:#53637D;
  cursor: auto;
  font-size:13px;
}
.sidebar_view .categories {
  padding:0;
}
.sidebar_view .category {
  color:#53637D;
}

.sidebar_view .weeks {
  padding-left:0;
}
