.time_visit_view .time_interval {
  border-top:1px solid #DDD;
  z-index:10;
  margin:0;
  margin-__MSG_@@bidi_start_edge__:24px;
  padding:10px;
  color:#555;
  font-weight:normal;
  position:relative;
  cursor:pointer;
}
.time_visit_view .time_interval:hover .time { color:#333; }
.time_visit_view .time_interval:hover .arrow {
  border-top-color:#999;
  border-left-color:transparent;
}
.time_visit_view. .visits { display:none; }
.time_visit_view .collapsed .time_interval:hover .arrow {
  border-left-color:#999;
  border-top-color:transparent;
}
.time_visit_view .collapsed .visits { display:none; }
.time_visit_view .stuck .arrow { visibility:hidden; }
.time_visit_view .summary {
  font-weight:normal;
  color:#999;
  margin-__MSG_@@bidi_start_edge__:5px;
  font-size:13px;
}
.time_visit_view .visits { margin-bottom:10px; }
.time_visit_view .arrow { float:__MSG_@@bidi_start_edge__; }
.time_visit_view .arrow_down {
  margin:6px 0 0;
  margin-__MSG_@@bidi_end_edge__:5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #CCC;
}
.time_visit_view .arrow_right {
  margin:4px 0 0;
  margin-__MSG_@@bidi_end_edge__:7px;
  margin-__MSG_@@bidi_start_edge__:3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #CCC;
  display:none;
}
.time_visit_view.delete_area {
}
.time_visit_view .collapsed .arrow_down { display:none; }
.time_visit_view .collapsed .arrow_right { display:inline-block; }
.time_visit_view .page_visit_view a {
  margin-__MSG_@@bidi_start_edge__:47px;
}
.time_visit_view .time_interval .button {
  float: right;
  font-size:10px;
  display:block;
  position:relative;
  padding:4px 0 4px 24px;
  line-height: 12px;
  height: 12px;
  margin: -2px 10px -4px 0;
  z-index:13;
}
.time_visit_view .button:hover .delete_icon .delete,
.time_visit_view .button:hover .delete_icon .delete:before {
  background:#555;
}
.time_visit_view .stuck .button {
  margin-right:30px;
}
.time_visit_view .time_interval .delete_icon {
  margin-left:10px;
}
.time_visit_view .time_interval .delete_icon::before {
  margin-top: 1px;
  left: -14px;
}
.time_visit_view .time_interval .delete_icon .delete::before {
  margin-top: -2px;
  left: -21px;
}
.time_visit_view .time_interval .delete_icon .delete::after {
  margin-top: 5px;
  left: -18px;
}
