.week_view .heading,
.settings_view .heading {
  position: relative;
}

.week_view .days {
  padding-left: 0;
}
.week_view .days .title {
  margin:0;
  font-size: 14px;
}
.week_view .days .sub_title {
  margin:3px 0;
  font-weight: normal;
}
.week_view .days .day {
  margin-bottom:20px;
  position: relative;
  background-color:#EEE;
  border-radius: 5px;
  padding: 10px;
}
.week_view .day:hover .bar {
  background-color:#888;
}
.week_view .day_view .page {
  width: 766px;
}
.week_view .days .delete {
  position: absolute;
  top: 0;
  right: 0;
}
.week_view .bar {
  background: #CCC;
  height: 100%;
  min-width:1%;
  position: absolute;
  right: 0;
  -webkit-transition:width 0.5s;
  border-radius: 5px;
}
.week_view .bar_container {
  float: right;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.week_view .heading input {
  float:right;
}
