body {
  background:-webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB)
}

/* Frame
===================== */
.frame {
  border:1px solid #999;
  overflow:hidden;
  position:relative;
  margin:30px;
}
.frame.small {
  width:438px;
  height:278px;
}
.frame.large {
  width:918px;
  height:678px;
}
.frame.marquee {
  width:1398px;
  height:558px;
}
.frame.detail {
  width:940px;
  height:700px;
}

/* Small
======================== */
