.frame
  .mainview.view
  .navigation
    %h1
      %a{:href => "#/"}
        {{i18n_history_title}}
    .menu_view
    %ul.menu
      %li
        %a.setting{:href => "#settings"}
          {{i18n_settings_link}}
