%img.logo{:src => "/images/medium_logo.png"}
%h1.title {{i18n_credits_title}}
.content-area
  %div {{{i18n_developed_by}}}
  %h3 Open source frameworks in use
  %ul.open_source
    %li
      %a{:href => "http://backbonejs.org/"} Backbone
    %li
      %a{:href => "http://documentcloud.github.com/underscore/"} Underscore
    %li
      %a{:href => "http://zeptojs.com/"} Zepto
    %li
      %a{:href => "https://github.com/janl/mustache.js/"} Mustache.js
    %li
      %a{:href => "http://momentjs.com/"} Moment.js
    %li
      %a{:href => "https://github.com/roykolak/chrome-bootstrap"} Chrome Bootstrap
  %h3 {{i18n_translators_heading}}
  %div
    %ul.translators
      %li
        %a{:href => "http://twitter.com/laucmar"} Laura Martínez
        .language {{i18n_spanish}}
      %li
        %a{:href => "http://gplus.to/dfakhriev"} Damir Fakhriev
        .language {{i18n_russian}}
      %li
        %a{:href => "https://plus.google.com/115314774787477379472"} Filipe Catalão
        .language {{i18n_portuguese}}
      %li
        %a{:href => "http://theopenspring.com"} Gianluca Sangiovanni
        .language {{i18n_italian}}
      %li
        %a{:href => "mailto:tebai.hamza@gmail.com"} Hamza Tebai
        .language {{i18n_french}}
      %li
        %a{:href => "http://about.me/henrikcederblad"} Henrik Cederblad
        .language {{i18n_swedish}}
      %li
        %a{:href => "https://plus.google.com/u/0/115959812130668207635/posts"} PBB
        .language {{i18n_chinese_simplified}}
    %ul.translators
      %li
        %a{:href => "http://twitter.com/kurtextrem"} Jacob G
        .language {{i18n_german}}
      %li
        %a{:href => "http://www.jedlikowski.com"} Przemek Jedlikowski
        .language {{i18n_polish}}
      %li
        %a{:href => "https://twitter.com/yl_ksa"} Wael M. Hazzazi
        .language {{i18n_arabic}}
      %li
        %a{:href => "http://twitter.com/HowManyFiles"} ハウメニ
        .language {{i18n_japanese}}
      %li
        %a{:href => "http://facebook.com/khaister"} Khai Nguyen
        .language {{i18n_vietnamese}}
      %li
        Juanjo Teruel
        .language {{i18n_catalonian}}
  %h4 {{i18n_translation_help_heading}}
  %p{:style => "width:auto"} {{{i18n_translation_instructions}}}
.action-area
  .action-area-right
    .button-strip
      %button.button.close {{i18n_close_button}}
