%header
  %h1.title
    {{{title}}}
    %span.sub_title {{formalDate}}
  .corner
    %input{:type => "text", :class => "search", :placeholder => "{{i18n_search_input_placeholder_text}}", :tabindex => "1"}
  .controls
    %a.text.back_to_week{:href => "{{weekUrl}}"}
      {{i18n_back_to_week_link}}
    .spacer
    %button.delete_day{:disabled => "disabled"}
      {{i18n_delete_all_visits_for_filter_button}}
.content
