{{#hasIntervals}}
%ol.intervals
  {{#intervals}}
  %li.interval{'data-id' => "{{id}}"}
    %header
      %h4.title {{time}}
      %a.delete_interval.delete{:href => "#", :title => "{{i18n_prompt_delete_button}}"}
        {{i18n_prompt_delete_button}}
    %ol.visits.highlightable.editable
      {{#visits}}
      {{#isGrouped}}
      %li.visit{"data-id" => "{{id}}"}
        %a{:href => "{{url}}"}
          %dl.description{:style => "background-image: url(chrome://favicon/{{url}})"}
            %dt {{domain}}
            %dd.toggle_grouping
              %span.show_visits
                %span.arrow.arrow_collapse
                {{i18n_expand_button}}
              %span.hide_visits
                %span.arrow.arrow_expand
                {{i18n_collapse_button}}
        %a.search_domain.action{:href => "#search/{{host}}"} {{i18n_search_by_domain}}
        %a.delete_grouped_visit.delete{:href => "#", :title => "{{i18n_prompt_delete_button}}"} {{i18n_prompt_delete_button}}
        %ol.visits.highlightable
          {{#groupedVisits}}
          %li.visit{"data-id" => "{{id}}"}
            %a{:href => "{{url}}"}
              %dl.description{:style => "background-image: url(chrome://favicon/{{url}})"}
                %dt {{{title}}}
                %dd.location {{host}}{{path}}
            %a.search_domain.action{:href => "#search/{{host}}"} {{i18n_search_by_domain}}
            %a.delete_visit.delete{:href => "#", :title => "{{i18n_prompt_delete_button}}"} {{i18n_prompt_delete_button}}
          {{/groupedVisits}}
      {{/isGrouped}}
      {{#notGrouped}}
      %li.visit{"data-id" => "{{id}}"}
        %a{:href => "{{url}}"}
          %dl.description{:style => "background-image: url(chrome://favicon/{{url}})"}
            %dt {{{title}}}
            %dd.location {{host}}{{path}}
        %a.search_domain.action{:href => "#search/{{host}}"} {{i18n_search_by_domain}}
        %a.delete_visit.delete{:href => "#", :title => "{{i18n_prompt_delete_button}}"} {{i18n_prompt_delete_button}}
      {{/notGrouped}}
      {{/visits}}
  {{/intervals}}
{{/hasIntervals}}
{{#noIntervals}}
%p.no_visits
  {{i18n_no_visits_found}}
{{/noIntervals}}
