.spinner
%h1.title {{i18n_prompt_title}}
.content-area {{{content}}}
.action-area
  .action-area-right
    .button-strip
      %button.no {{i18n_prompt_cancel_button}}
      %button.yes {{i18n_prompt_delete_button}}
