<header>
  <h1>
    <span class="title">{{title}}</span>
  </h1>

  <div class="corner">
    <input type="text" class="search" placeholder="{{i18n_search_input_placeholder_text}}" tabindex="1" />
  </div>
  <div class="controls">
    <span class="text number_of_results">{{i18n_number_of_search_results}}</span>
    <div class="spacer"></div>
    <button class="delete_all">{{i18n_delete_all_visits_for_search_button}}</button>
  </div>
</header>
<div class="fade"></div>
<div class="content">
  <div class="spinner"></div>
</div>
