%ol.visits.highlightable.editable
  {{#visits}}
  %li.visit.visit_view
    %a{"data-id" => "{{id}}", :href => "{{url}}"}
      %dl.description{:style => "background-image: url(chrome://favicon/{{url}})"}
        %dt {{{title}}}
        %dd {{{location}}}
        %dd {{{time}}}
    %a.delete_visit.delete{:href => "#", :title => "{{i18n_prompt_delete_button}}"} {{i18n_prompt_delete_button}}
  {{/visits}}
{{^visits}}
%p.no_visits {{i18n_no_visits_found}}
{{/visits}}
