%header
  %h1 {{i18n_settings_title}}
.content
  .settings
    %section
      %h3 {{i18n_clearing_history_section_title}}
      %div
        %button.clear_history {{i18n_clear_history_button}}
    %section
      %h3 {{i18n_general_section_title}}
      .row
        %label
          %span.select {{i18n_open_location}}
          %select#open_location
            {{#openLocations}}
            %option{:value => "{{value}}"} {{text}}
            {{/openLocations}}
      .row
        %label
          %span.select {{i18n_starting_week_day}}
          %select#starting_week_day
            {{#startingWeekDays}}
            %option{:value => "{{value}}"} {{text}}
            {{/startingWeekDays}}
    %section
      %h3 {{i18n_visit_grouping_section_title}}
      .row
        %label
          %span.select {{i18n_group_visits_by_label}}
          %select#time_grouping
            {{#timeGroupings}}
            %option{:value => "{{value}}"} {{text}}
            {{/timeGroupings}}
      .row
        %label
          %span.select {{i18n_time_format_label}}
          %select#time_format
            {{#timeFormats}}
            %option{:value => "{{value}}"} {{text}}
            {{/timeFormats}}
      .checkbox
        %label
          %input#domain_grouping{:type => "checkbox"}
          %span {{i18n_group_visits_by_domain_label}}
    %section
      %h3 {{i18n_right_click_options_section_title}}
      .checkbox
        %label
          %input#search_by_selection{:type => "checkbox"}
          %span {{i18n_search_by_text_selection_label}}
      .checkbox
        %label
          %input#search_by_domain{:type => "checkbox"}
          %span {{i18n_search_by_domain_label}}
    %section
      %h3 {{i18n_whats_new_section_title}}
      %div
        .row
          %a.modal_link.credits{:href => "#settings/credits"} {{{i18n_credits_link}}}
        .row
          %form#BB_BuyButtonForm{:action => "https://checkout.google.com/cws/v2/Donations/747741395785929/checkoutForm", :method => "post", :name => "BB_BuyButtonForm", :onSubmit => "return validateAmount(this.item_price_1)", :style => "height: 20px", :target => "_top"}
            %input{:name => "item_name_1", :type => "hidden", :value => "Continued support for Better History"}/
            %input{:name => "item_description_1", :type => "hidden", :value => "Thank you for your support! It makes me (Roy) smile."}/
            %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}/
            %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}/
            %input{:name => "item_is_modifiable_1", :type => "hidden", :value => "true"}/
            %input{:name => "item_min_price_1", :type => "hidden", :value => "0.01"}/
            %input{:name => "item_max_price_1", :type => "hidden", :value => "25000.0"}/
            %input{:name => "_charset_", :type => "hidden", :value => "utf-8"}/
            %input#item_price_1{:name => "item_price_1", :size => "6", :type => "hidden", :value => "2.00"}/
            %input{:alt => "Donate", :src => "https://checkout.google.com/buttons/donateNow.gif?merchant_id=747741395785929&w=115&h=50&style=white&variant=text&loc=en_US", :style => "height: 40px;", :type => "image"}/
    %section
      %h3 {{i18n_feedback_section_title}}
      %div
        {{{i18n_suggestions_bugs_comments}}}
    %section
      %h3 {{i18n_spread_the_word_section_title}}
      %div
        .row
          %a{:href => "https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb/reviews"} {{i18n_leave_a_review}}
        .row
          / Place this tag where you want the +1 button to render
          .g-plusone{"data-annotation" => "inline", "data-href" => "https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb"}
        .row
          %a.twitter-follow-button{"data-lang" => "{{i18n_twitter_language}}", "data-show-count" => "false", "data-width" => "150px", :href => "https://twitter.com/better_history"} Follow @better_history
          %a.twitter-share-button{"data-count" => "horizontal", "data-lang" => "{{i18n_twitter_language}}", "data-text" => "{{i18n_twitter_template}}", "data-url" => "https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb", "data-via" => "Better_History", :href => "https://twitter.com/share"} Tweet
