<header>
  <h1>{{i18n_settings_title}}</h1>
</header>
<div class="content">
  <div class="settings">
    <section>
      <h3>{{i18n_clearing_history_section_title}}</h3>
      <div>
        <button class="clear_history">{{i18n_clear_history_button}}</button>
      </div>
    </section>
    <section>
      <h3>{{i18n_general_section_title}}</h3>
      <div class="row">
        <label>
          <span class="select">{{i18n_open_location}}</span>
          <select class="open_location">
            {{#openLocations}}
              <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</options>
            {{/openLocations}}
          </select>
        </label>
      </div>
      <div class="row">
        <label>
          <span class="select">{{i18n_starting_week_day}}</span>
          <select class="starting_week_day">
            {{#startingWeekDays}}
              <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</options>
            {{/startingWeekDays}}
          </select>
        </label>
      </div>
    </section>
    <section>
      <h3>{{i18n_visit_grouping_section_title}}</h3>
      <div class="row">
        <label>
          <span class="select">{{i18n_group_visits_by_label}}</span>
          <select class="time_grouping">
            {{#timeGroupings}}
              <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</options>
            {{/timeGroupings}}
          </select>
        </label>
      </div>
      <div class="row">
        <label>
          <span class="select">{{i18n_time_format_label}}</span>
          <select class="time_format">
            {{#timeFormats}}
              <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
            {{/timeFormats}}
          </select>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="domain_grouping" {{#domainGrouping}}checked="checked"{{/domainGrouping}}/>
          <span>{{i18n_group_visits_by_domain_label}}</span>
        </label>
      </div>
    </section>
    <section>
      <h3>{{i18n_right_click_options_section_title}}</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="search_by_selection" {{#searchBySelection}}checked="checked"{{/searchBySelection}}/>
          <span>{{i18n_search_by_text_selection_label}}</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="search_by_domain" {{#searchByDomain}}checked="checked"{{/searchByDomain}}/>
          <span>{{i18n_search_by_domain_label}}</span>
        </label>
      </div>
    </section>
    <section>
      <h3>{{i18n_whats_new_section_title}}</h3>
      <div>
        <div class="row">
          <a href="#settings/credits" class="modal_link credits">{{{i18n_credits_link}}}</a>
        </div>
        <div class="row">
          {{i18n_current_version_label}}: <span class="current_version">{{version}}</span>
        </div>
        <div class="row">
          <form action="https://checkout.google.com/cws/v2/Donations/747741395785929/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top" style="height: 20px">
              <input name="item_name_1" type="hidden" value="Continued support for Better History"/>
              <input name="item_description_1" type="hidden" value="Thank you for your support! It makes me (Roy) smile."/>
              <input name="item_quantity_1" type="hidden" value="1"/>
              <input name="item_currency_1" type="hidden" value="USD"/>
              <input name="item_is_modifiable_1" type="hidden" value="true"/>
              <input name="item_min_price_1" type="hidden" value="0.01"/>
              <input name="item_max_price_1" type="hidden" value="25000.0"/>
              <input name="_charset_" type="hidden" value="utf-8"/>
              <input id="item_price_1" name="item_price_1" size="6" type="hidden" value="2.00"/>
              <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=747741395785929&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image" style="height: 40px;"/>
          </form>
        </div>
      </div>
    </section>
    <section>
      <h3>{{i18n_feedback_section_title}}</h3>
      <div>
        {{{i18n_suggestions_bugs_comments}}}
      </div>
    </section>
    <section>
      <h3>{{i18n_spread_the_word_section_title}}</h3>
      <div>
        <div class="row">
          <a href="https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb/reviews">{{i18n_leave_a_review}}</a>
        </div>
        <div class="row">
          <!-- Place this tag where you want the +1 button to render -->
          <div class="g-plusone" data-annotation="inline" data-href="https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb"></div>
        </div>
        <div class="row">
          <a href="https://twitter.com/better_history" class="twitter-follow-button" data-show-count="false" data-width="150px" data-lang="{{i18n_twitter_language}}">Follow @better_history</a>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb" data-text="{{i18n_twitter_template}}" data-count="horizontal" data-via="Better_History" data-lang="{{i18n_twitter_language}}">Tweet</a>
        </div>
      </div>
    </section>
  </div>
</div>
