<h1 class="title">{{{i18n_version_title}}}</h1>
<div class="content-area">
  <p>{{{i18n_version_description}}}</p>
  <h4>{{i18n_version_whats_new}}</h4>
  <ul>{{{i18n_version_items}}}</ul>
  <!--<h4>{{i18n_version_important_note}}</h4>-->
  <!--<p style="width:400px;">-->
    <!--{{{i18n_version_note}}}-->
  <!--</p>-->
</div>
<div class="action-area">
  <div class="action-area-link-container">
    <a href="https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb/reviews" class="review">{{i18n_leave_a_review}}</a>
  </div>
  <div class="action-area-right">
    <div class="button-strip">
      <button class="button close">{{i18n_close_button}}</button>
    </div>
  </div>
</div>
